
body {
    margin: 20px auto;
    font-family: "Lato";
    font-weight: 300;
}

form {
    width: 60vw;
    padding: 15px 25px;
    gap: 10px;
    justify-content: center;
}

#submitmsg,
#enter{
    background: darkorange;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    border-radius: 3px;
}


#wrapper,
#background {
    margin: 0 auto;
    padding-bottom: 25px;
    background: lightgray;
    width: 80vw;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
}


#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 60vw;
    border: 1px solid #a7a7a7;
    overflow: auto;
}
#usermsg {
    margin: auto;
    width: 50vw;
}

#wrapper,
#usermsg{
    margin: auto;
    font-family: "Comic Sans MS", bold, sans-serif;
}

#menu {
    padding: 15px 25px;
    display: flex;
}
.msgln b.user-name, .msgln b.user-name-left {
    color: darkorange;
}

.msgln span.chat-time {
    color: dodgerblue;
}

