body {
    background-color: darkgray;
    margin-top: 0px;
}

.navbarUvod {
    position: relative;

    margin: auto;
    top: 0px;

    border: 6px solid orange;
    padding: 0px;
}


.conCP {
    width: 90%;
    position: relative;
    top: 5vw;
    background-color: black;
    margin: auto;

}

.nadpis {

    color: orange;
    text-align: left;
    font-size: 3vw;
    margin-bottom: 10vw;
}

.text {
    color: white;
    text-align: left;
    font-size: 1.8vw;
}

p {
    margin-bottom: 5vw;
}

.picture {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 5vw;

}


.video {
    width: 100%;
    height: 30vw;
}

.farba {
    color: orange;
}

