html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: darkgray;
    display: table-cell;
    vertical-align: middle;
}
.text{
    color: black;
    font-family: "Monotype Corsiva";
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: orange;
    border-style: solid;
    border-color: black;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Monotype Corsiva";
}

form{
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    padding: 35PX;

}

.edit_btn, .del_btn{
    background-color: orange;
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-style: solid;
    font-family: "Monotype Corsiva";
}

table{
    border-color: black;
    font-family: "Monotype Corsiva";
    background-color: lightgray;
}
