

#cover {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.center1{
    margin: auto;
    width: 50%;
    border: 3px solid darkorange;
    padding: 10px;
}


