body{
    font: 14px sans-serif;
}
p{
    color: white;
}
h2{
    color: white;
}
label{
    color: white;
}
.wrapper{
    margin: auto;
    width: 350px;
    padding: 20px;
}
.navbar .navbar-brand {
    color: darkorange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}