
body {
  padding-top: 56px;
  background-color: #1d2124;
}

h1{
  color: darkorange;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.label{
  color: white;
}

.texAreaNadpis{
  color: white;
}
.obsahcss{
  color:white;
}
.hodnoteniecss{
  color: white;
}
.nazovcss{
  color: white;
}

.tlacitko{
  background-color: darkorange;
  font-family: "Comic Sans MS", bold, sans-serif;
}
.navbar .navbar-brand {
  color: darkorange;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#myCarousel {
  margin-top: 40px;

}

.item {
  border:1px solid #eee;
  width:320px;
  height:190px;
  margin:0 auto;
  padding:10px;
}

.zmena{
  border-color: black;
  font-size: small;
  background-color: darkorange;
  color: black;
  font-family: "Comic Sans MS", bold, sans-serif

}